################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KayWashApp/Migrations/20191027095048_InitialCreate3.cs
