################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KayWashApp/Migrations/20191027095048_InitialCreate3.cs
/KayWashApp/Migrations/20191027112150_InitialCreate6.Designer.cs
/KayWashApp/Migrations/20191027112150_InitialCreate6.cs
/KayWashApp/Migrations/20191027111408_InitialCreate5.Designer.cs
/KayWashApp/Migrations/20191027111408_InitialCreate5.cs
/KayWashApp/Migrations/20191027095622_InitialCreate4.Designer.cs
/KayWashApp/Migrations/20191027095622_InitialCreate4.cs
/KayWashApp/Migrations/20191027095048_InitialCreate3.Designer.cs
